.displayed_product_container {
    height: 75vh;
    background-color: rgb(31, 31, 31);
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0 18%;
    color: white;
    z-index: -2;
}

.displayed_product_container h1{
    font-size: 4.5em;
    margin-bottom: 20px;
    font-weight: 700;
}

.displayed_product_container p{
    width: 500px;
    font-size: 25px;
    text-wrap: wrap;
    margin-bottom: 40px;
}

.displayed_product_container button{
    background: rgb(38, 141, 179);
    color: white;
    border: none;
    padding: 20px 40px;
}

.displayed_product_container button:hover{
    background: black;
}

.product_image {
    width: 45%;
}