.products_title {
    text-align: center;
    font-size: 50px;
    margin: 60px;
}

.products_container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 50px;
    margin-bottom: 150px;
}

.products_img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}

.products_info_container {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.products_info {
    position: absolute;
    width: 100%;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 3px;
    padding: 8px 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.8953956582633054) 0%, rgba(0,0,0,0.7497373949579832) 25%, rgba(0,0,0,0.6012780112044818) 50%, rgba(0,0,0,0.4023984593837535) 75%, rgba(0,0,0,0) 100%);
}

.products_info p {
    width: 84%;
    padding-left: 10px;
}


.products_info img {
    position: absolute;
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    right: 15px;
    bottom: 15px;
}