.img {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 5px;
    pointer-events: none;
}

.slider_container {
    width: 500px;
}

.preview_img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 1.5px;
}

@media (max-width: 570px) {
    .img {
        width: 380px;
        height: 380px;
    }
    
    .slider_container {
        width: 380px;
    }
    
    .preview_img {
        width: 92px;
        height: 92px;
    }
}