.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    min-height: 80vh;
    font-size: 20px;
    font-weight: 700;
}

.cards{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.imgContainer {
    width: 350px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.productName {
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(38, 141, 179);
}