.header_container {
    position: relative;
    height: 15vh;
    background-color: rgb(31, 31, 31);
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 5;
}

.header {  
    height: 15vh;
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
    border-bottom: solid 3px white;
}

.header_options {
    display: flex;
    gap: 30px;
    font-size: 25px;
}