.header_container {
    position: relative;
    height: 15vh;
    background-color: rgb(31, 31, 31);
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 5;
    padding: 0 330px;
}

.header {  
    height: 15vh;
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
    border-bottom: solid 3px white;
}

.header_options {
    display: flex;
    gap: 30px;
    font-size: 25px;
}

.ProductCartContainer {
    background: none;
    border: none;
    position: relative;
}

.ProductCartContainer img {
    width: 40px;
}

.ProductCartContainer div {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
}