.filters_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(31, 31, 31);
    animation: fadeInSlideUp 1s forwards;
}

@keyframes fadeInSlideUp {
    from {
        height: 0;
        overflow: hidden;
    }
    to {
        height: 90px;
        overflow: visible;
    }
}

@media (max-width: 767px) {
    .filters_container {
        flex-direction: column;
    }

    @keyframes fadeInSlideUp {
        from {
            height: 0;
            overflow: hidden;
        }
        to {
            height: 170px;
            overflow: visible;
        }
    }
}