.filters_container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(31, 31, 31);
    overflow: hidden;
    animation: fadeInSlideUp 1s forwards;
}

@keyframes fadeInSlideUp {
    from {
        height: 0;
        overflow: hidden;
    }
    to {
        height: 10vh;
        overflow: visible;
    }
}