.display_container {
    background-color: rgb(31, 31, 31);
}

.displayed_product_container {
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
    padding: 0 25rem;
    color: white;
    overflow: hidden;
    opacity: 0;
    animation: fadeInSlideUp 1s forwards;
    font-size: 25px;
}

.displayed_product_container h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.displayed_product_container p{
    margin-bottom: 40px;
    color: rgb(136, 136, 136);
}

.displayed_product_container button{
    background: rgb(38, 141, 179);
    color: white;
    border: none;
    padding: 20px 40px;
}

.displayed_product_container button:hover{
    background: black;
}

.product_image {
    width: 500px;
    transition: transform 0.3s ease;
}

.product_image:hover {
    transform: scale(1.05);
}

@keyframes fadeInSlideUp {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 700px;
        opacity: 1;
    }
}

@media (max-width: 1440px) {
    .displayed_product_container {
        gap: 40px;
        padding: 0 280px; 
        font-size: 20px;
        text-align: center;
    }

    .product_image {
        width: 400px;
        transition: transform 0.3s ease;
    }

    @keyframes fadeInSlideUp {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 600px;
            opacity: 1;
        }
    }
}

@media (max-width: 950px) {
    .displayed_product_container {
        flex-direction: column-reverse;
        gap: 5px;
        padding: 0 100px; 
    }

    .displayed_product_container h1{
        font-size: 40px;
        margin-bottom: 10px;
    }

    .displayed_product_container p{
        margin-bottom: 20px;
    }

    @keyframes fadeInSlideUp {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 700px;
            opacity: 1;
        }
    }
}

@media (max-width: 767px) {
    .displayed_product_container h1{
        margin-bottom: 20px;
    }

    .product_image {
        width: 300px;
    }

    @keyframes fadeInSlideUp {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 650px;
            opacity: 1;
        }
    }
}